.filterPanel {
  padding: 20px;
  color: white;
}

.icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon > p {
  font-weight: 400;
  color: white;
  font-size: 20px;
}

.input-fields {
  display: grid;
  gap: 0.3rem;
}
